.inputTarea {
    margin-bottom: 10px;
    margin-top: 15px;
}

#nombreTarea {
    margin-bottom: 10px;
    margin-top: 10px;
}

.botonTarea {
    margin-top: 15px;
}

.divBotonesTarea {
    margin-bottom: 15px;
}

#inferior {
    margin-top: 35px;
}